* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 40px;
    background: #a075ba;
    overflow: hidden;
    transition: width 0.8s ease-in-out;
    box-shadow: 5px 10px 10px rgba(141,141,141);
}

.sidebar:hover{
    width: 200px;
}

.sidebar:hover .menu ul li span {
    padding: 20px 40px;
    opacity: 1;
    pointer-events: visible;
}

.sidebar .menu {
    display: flex;
    width: 80px;
    height: 100%;
    background: #a075ba;
    color: #fff;
}

.menu a {
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bolder;
}

.menu a span {
    position: absolute;
    margin: 0 0;
    font-size: 20px;
    opacity: 0;
    transition: 1.2s;
    color: #fff;
}

.menu ul li {
    display: flex;
    padding: 0 10px;
    cursor: pointer;
}

.menu ul li i {
    font-size:  20px;
    padding: 20px 0 20px 0;
}

.menu ul li span {
    position: absolute;
    color: #ececec;
    letter-spacing: 1px;
    padding: 20px 0 20px 0;
    opacity: 0;
    pointer-events: none;
    font-size: 15px;
    transition: .8s;
}

.menu ul li:hover span {
    margin-left: 10px;
    color: #fff;
}